/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

/* CONTAINER */
.container {
  width: 370px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 10px 0;
  box-shadow: rgba(20, 20, 20, 0.1) 0px 4px 15px;
}

/* LIST ITEM */
.list-group-item {
  padding: 8px 15px 8px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

/* LINE DIVIDER */
.box-line {
  padding: 10px 15px;
}

.line {
  border: 0.7px solid #cdcdcd;
}
