/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

@media (max-width: 400px) {
  body {
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .container {
    width: 80%;
  }
}

/* CONTAINER */
.container {
  width: 370px;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 10px 0;
  box-shadow: rgba(20, 20, 20, 0.1) 0px 4px 15px;
  transition: 0.25s ease;
}

/* Hover effect */
.container:hover {
  box-shadow: rgba(20, 20, 20, 0.15) 0px 8px 20px;
  transform: translateY(-3px);
}

/* LIST ITEM */
.list-group-item {
  padding: 8px 15px 8px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
}

/* HIDE default checkbox */
.list-group-item input {
  display: none;
}

/* CUSTOM BOX */
.custom-check {
  width: 23px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

/* HOVER → LIGHT CHECKMARK */
.list-group-item:hover .custom-check::after {
  content: "✔";
  font-size: 14px;
  color: #d3d3d3;
}

/* CHECKED HOVER */
.list-group-item input:hover:checked + .custom-check {
  background-color: #5087f8;
  border-color: #5087f8;
}

/* CHECKED */
.list-group-item input:checked + .custom-check {
  background-color: #2469f6;
  border-color: #2469f6;
}

.list-group-item input:checked + .custom-check::after {
  content: "✔";
  color: white;
}

/* LINE DIVIDER */
.box-line {
  padding: 10px 15px;
}

.line {
  border: 0.7px solid #cdcdcd;
}

/* BUTTON */
.button-box {
  padding: 10px 15px;
}

button {
  width: 100%;
  background: #ffce22;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #ffd84d;
}
